{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>post_update.html</h1>
    <div class="content-section">

        
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="bottom-bottom mb-4">Blog Post Update</legend>
                <p>post_update.html</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
                <a href="{% url 'post-detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>

    </div>
{% endblock content %}